<html>
<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/engage.itoggle.css"/>
<script type="text/javascript" src="/javascripts/jquery-1.6.1.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/javascripts/engage.itoggle.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('input#example').iToggle({
    easing: 'easeOutExpo',
		type: 'checkbox',
		keepLabel: true,
    easing: 'easeInExpo',
    speed: 300,
		onClick: function(){
			//Function here
		},
		onClickOn: function(){
			//Function here
		},
		onClickOff: function(){
			//Function here
		},
		onSlide: function(){
			//Function here
		},
		onSlideOn: function(){
			//Function here
		},
		onSlideOff: function(){
			//Function here
		}
	});
});
</script>
</head>

<body>

<div id="itoggle">
<input type="checkbox" id="example" />
</div>

</body>
</html>
